<ion-header>
  <ion-toolbar>
    <ion-title> Post Event</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <img id="selectedImage" *ngIf="image" src="{{this.image}}"  (click)="uploadImage()">
    <img *ngIf="!image" src="../../../assets/image-upload.png" (click)="uploadImage()">
    <ion-card-header>
      <ion-card-title>    
        <ion-input [(ngModel)]="title" placeholder="Title"> </ion-input>
      </ion-card-title>
      <ion-card-subtitle>
        <ion-textarea [(ngModel)]="description" placeholder="description"></ion-textarea>
      </ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
    
    <ion-list lines="full">
      <ion-item > 
        <ion-label> <div style="color:gray; float: left;"> Start</div> <div style="float: right;">{{myDate | date:'short'}}</div> </ion-label>
      </ion-item>
    </ion-list>
    

    <ion-datetime display-format="DD/MM/YYYY" id="dat" [(ngModel)]="myDate" (ionChange)="showdate()"></ion-datetime>


  <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" placeholder="Search for a place"  (ionClear)="ClearAutocomplete()" [value]="address"></ion-searchbar>
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>


    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="addEvent()"> Post Event </ion-button>
</ion-content>