<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="logout()"><ion-icon name="log-out-outline"></ion-icon></ion-button>
      </ion-buttons>
    
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="main-header">
    <div align="center">
      <ion-avatar>
        <img src="assets/imgs/2.png" />
      </ion-avatar>
    </div>
  </ion-grid>

  
  <ion-row class="ion-padding-horizontal">
    <ion-col size="6">
      <ion-item lines="none" class="ion-text-center">
        <ion-icon name="newspaper" color="primary"></ion-icon>
        <ion-label>
          {{events.length}}
          <p>Active Events</p>
        </ion-label>
      </ion-item>
    </ion-col>

    <ion-col size="6">
      <ion-item lines="none" class="ion-text-center">
        <ion-label>
          {{firstname}}

          <p>Name</p>
        </ion-label>
      </ion-item>
    </ion-col>


  </ion-row>

  <div class="content-div">
    <h1 style="text-align: center; padding-bottom: 50px;">My Events: </h1>
    <div class="test_details">
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <div *ngIf="events.length > 0">
              <ion-card *ngFor = "let items of events; index as indexOfelement;">
                <img src="{{items.image}}">
                <ion-card-header>
                  <ion-card-title>{{items.title}}</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                  {{items.description}}
                </ion-card-content>
                <ion-button color="danger" (click)="removeEvent(indexOfelement)">
                  <ion-icon name="trash-outline" ></ion-icon>

                </ion-button>
              </ion-card>
            </div>
            
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>


</ion-content>