<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Upcoming Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Upcoming Events</ion-title>
    </ion-toolbar>
  </ion-header> 

  <ion-card *ngFor = "let items of myList">
    <img src="{{items.image}}">
    <ion-card-header>
      <ion-card-subtitle>By: {{items.firstname}} {{items.lastname}}</ion-card-subtitle>
      <ion-card-title>{{items.title}}</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      {{items.description}}
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-button class="add-button" shape="circle" (click)="openModal()">
  <ion-icon name="add-outline" ></ion-icon>
</ion-button>