<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      Upcoming Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Upcoming Events</ion-title>
    </ion-toolbar>
  </ion-header> 
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <div *ngFor="let item of genres; let indOfelement = index;">
    <h4 class="category">{{item}}</h4>
      <ion-slides [options]="option" >
        <ion-slide *ngFor = "let items of events[indOfelement][item]; let indexOfelement = index;" class="featured-slide" (click)="openEventInfo(indOfelement, item, indexOfelement)">
    
          <ion-img src="{{items.image}}"></ion-img>
          <div class="info">
            <ion-text color="dark" class="title"><b>{{items.title}}</b></ion-text>
            <span class="location">When: {{items.date | date: "dd/MM/yyyy hh:mm a"}} </span>
            <span>
              <ion-text color="dark" class="author"> Host: {{items.firstname}} {{items.lastname}} </ion-text>
            </span>
    
          </div>
          
    
        </ion-slide>
        
      </ion-slides>
    
  </div>
  
  
</ion-content>

<ion-button class="add-button" shape="circle" (click)="openModal()">
  <ion-icon name="add-outline" ></ion-icon>
</ion-button>